{% extends 'base.html' %} {%load static%}{% block content %}
<div class="info-container">
  <div class="help-section">
    <div class="order-section" id="order">
      <h2><i class="fa-solid fa-basket-shopping"></i> Order status</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
        aspernatur veniam sit eveniet, deleniti ipsam odit laboriosam nemo
        provident maiores voluptatum ipsa atque mollitia possimus necessitatibus
        iure quisquam molestias porro!
      </p>
    </div>
    <div class="payment-section" id="payment">
      <h2><i class="fa-regular fa-credit-card"></i> payment options</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate nihil
        in totam animi numquam, a, sequi quisquam et molestias earum doloribus
        minus ut vel pariatur unde itaque harum vitae modi!
      </p>
    </div>
    <div class="shipping-section" id="shipping">
      <h2><i class="fa-solid fa-truck-fast"></i> Shipping</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
        aperiam doloribus mollitia vero reprehenderit vitae quia dolor
        architecto nemo ab vel natus molestias est nisi, sapiente quod
        dignissimos minima laboriosam. Lorem ipsum dolor sit amet
        <br />
        consectetur adipisicing elit. Porro, minima officiis delectus nesciunt
        praesentium ea tenetur exercitationem quo placeat. Velit cum harum
        distinctio reiciendis magnam consequuntur fuga iste nisi quibusdam!
      </p>
    </div>
    <div class="returns-section" id="returns">
      <h2><i class="fa-solid fa-people-carry-box"></i> Return policy</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ex
        in laudantium sapiente possimus repellat nesciunt veniam nemo saepe et?
        Numquam sapiente excepturi eos tempora voluptate nam pariatur! Labore,
        placeat? Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Necessitatibus, odio reprehenderit temporibus quisquam veniam repellat?
        Quaerat, perspiciatis. Labore dolore laudantium qui rem! Molestias,
        dolores quidem expedita debitis quam numquam quod.
      </p>
    </div>
  </div>
  <div class="faq-section" id="faqs">
    <h2><i class="fa-solid fa-circle-question"></i> FAQs</h2>
    <p>
      <span> ~ Lorem ipsum dolor sit amet consectetur adipisicing elit?</span
      ><br />

      Ad corrupti dolore, perspiciatis cum nemo adipisci odio incidunt veritatis
      at labore. Ea et excepturi ab praesentium, dignissimos omnis dolor
      repellendus quam.
      <br />
      Ad corrupti dolore, perspiciatis cum nemo adipisci odio incidunt veritatis
      at labore. Ea et excepturi ab praesentium, dignissimos omnis dolor
      repellendus quam.
    </p>
    <p>
      <br />
      <span> ~ Lorem ipsum dolor sit amet consectetur adipisicing elit?</span
      ><br />
      Ad corrupti dolore, perspiciatis cum nemo adipisci odio incidunt veritatis
      at labore. Ea et excepturi ab praesentium, dignissimos omnis dolor
      repellendus quam.
    </p>
    <p>
      <br />
      <span> ~ Lorem ipsum dolor sit amet consectetur adipisicing elit?</span
      ><br />
      Ad corrupti dolore, perspiciatis cum nemo adipisci odio incidunt veritatis
      at labore. Ea et excepturi ab praesentium, dignissimos omnis dolor
      repellendus quam.
    </p>
    <p>
      <br />
      <span> ~ Lorem ipsum dolor sit amet consectetur adipisicing elit?</span
      ><br />
      Ad corrupti dolore, perspiciatis cum nemo adipisci odio incidunt veritatis
      at labore. Ea et excepturi ab praesentium, dignissimos omnis dolor
      repellendus quam.
    </p>
    <p>
      <br />
      <span> ~ Lorem ipsum dolor sit amet consectetur adipisicing elit?</span
      ><br />
      Ad corrupti dolore, perspiciatis cum nemo adipisci odio incidunt veritatis
      at labore. Ea et excepturi ab praesentium, dignissimos omnis dolor
      repellendus quam.
      <br />Ad corrupti dolore, perspiciatis cum nemo adipisci odio incidunt
      veritatis at labore. Ea et excepturi ab praesentium, dignissimos omnis
      dolor repellendus quam.
    </p>
  </div>
</div>
{%endblock%}
