{% extends 'base.html' %} {%load static%}{% block content %}
<div class="service-container">
  <div class="service">
    <div class="service-item">
      <h1>services</h1>
      <h2>qualified team, onsite classes & interactive sessions</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
        recusandae reiciendis aut error nisi accusantium aliquam beatae.
        Ratione, corporis dignissimos necessitatibus excepturi ullam fugiat,
        cupiditate voluptatum repellat cumque consectetur obcaecati. Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Odit, blanditiis maxime
        natus, sit est dolores hic sunt recusandae consectetur vitae atque sint
        fugit eius tenetur nihil deleniti quod aliquam. Cumque!
      </p>

      <div class="box">
        <h2>furniture sale</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto commodi
          accusamus quam ratione explicabo ex ipsum molestias repellendus, a ut
          illo nostrum eius voluptatum cupiditate maxime id. Deleniti, similique
          qui
          <span><a href="">read more... </a></span>
        </p>
      </div>
      <div class="box">
        <h2>interior & exterior design</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. hjed juis
          Vero est voluptas libero quo facilis itaque ad temporibus, velit ipsum
          eius! Atque blanditiis unde ex quae earum aliquid, sunt deleniti quia
          <span><a href="">read more... </a></span>
        </p>
      </div>
      <div class="box">
        <h2>DIY project training</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
          doloremque, dignissimos cum voluptatum tempore consequuntur
          accusantium perspiciatis fugiat similique eaque totam expedita dolorum
          est nemo natus quidem sapiente corporis quam
          <span><a href="">read more... </a></span>
        </p>
      </div>
      <div class="tags">
        <p>Follow us:</p>
        <ul>
          <li>
            <a href=""><i class="fab fa-whatsapp"></i> </a>
          </li>
          <li>
            <a href=""><i class="fab fa-instagram"></i> </a>
          </li>
          <li>
            <a href=""><i class="fab fa-pinterest"></i> </a>
          </li>
          <li>
            <a href=""><i class="fab fa-twitter"></i> </a>
          </li>
          <li>
            <a href=""><i class="fab fa-facebook"></i> </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="service-img">
      <img src="{%static 'img/pngegg (4).png' %}" alt="services" />
    </div>
  </div>
</div>
{%endblock%}
