{% extends 'base.html' %}{% load humanize %}{%load static%}{%block content%}

<div class="bedroom-container">
    <div class="box">
        {% if br_listings %}{% for listing in br_listings %}
        <div class="img-box">
            <p class="offer">save ksh {{ listing.offer | intcomma }}</p>
            <a href="{% url 'list' listing.listing_id %}">
                <img src="{{ listing.photo_main.url }}" alt="" />
            </a>
            <h3>{{listing.title}}</h3>
            <p>
                <span class="price_old">ksh {{listing.price_old | intcomma}}</span>
                <span class="price_new">ksh {{listing.price_new | intcomma}}</span>
            </p>
            <div class="whatsapp-icon">
                <a href=""><i class="fab fa-whatsapp"></i>WhatsApp to order</a>
            </div>
        </div>
        {%endfor%} {% else %}
        <div class="error">
            <p>No Listings Available</p>
        </div>
        {% endif %}
    </div>

    <div class="paginator">
        <div class="page-button">
            {% if dining_listings.has_other_pages %}
            <div class="btn-group" role="group" aria-label="pagination">
                {% if dining_listings.has_previous %}

                <a href="?page={{bedrm_listings.previous_page_number}}" class="btn btn-outline-primary">&laquo;</a
          >
        {% endif %}
        {% for i in bedrm_listings.paginator.page_range %} 
        {% if bedrm_listings.number == i %}
        <button class="btn btn-outline-primary active">
          <span>{{i}}<span class="sr-only">(current)</span></span>
                          </button>
                          {% else %}
                          <a href="?page={{i}}" class="btn btn-outline-primary">{{i}}</a>
                </li>
                {% endif %} {% endfor %} {% if bedrm_listings.has_next %}
                <a href="?page={{bedrm_listings.next_page_number}}" class="btn btn-outline-primary">&raquo;</a
          >
        {% endif %}
    </div>
      {% endif %}
    </div>
  </div>
</div>

{%endblock%}