#header {
  height: 50px;
  background-color: rgb(14, 102, 116);
  color: #fff;
}

#branding h1 {
  color: #fff;
}

body {
  background-color: bisque;
}

.module caption {
  background-color: rgb(38, 145, 132);
}

a:link,
a:visited {
  color: rgb(11, 56, 97);
}

div.breadcrumbs {
  background: rgb(38, 145, 132);
}

h1#head {
  font-weight: bold;
}

h1#head span {
  padding-left: 20px;
}
